.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item a:hover {
    color: rgb(212, 166, 14);
    font-weight: 900;
}

.logo {
    color: #fff;
    font-size: 34px;
}

.logo:hover {
    color: rgb(212, 166, 14);
}