.pageTitle {
    width: fit-content;
    height: fit-content;
    color: white;
    text-align: center;
    background: rgb(66, 66, 66);
    padding: .1em;
    padding-right: 2em;
    margin: .1em;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    /* background: grey; */
}

.productsContainer {
    /* height: max-content; */
    flex-wrap: wrap;
    /* height: 900px; */
    height: fit-content;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* min-width: fit-content; */
    /* padding: 4em; */
}